snippet mod 'create a module'
        local M = {}

        $0

        return M

snippet lv 'log a variable'
        print('$1: ' .. $1)

snippet lv2 'log 2 variables'
        print('$1: ' .. $1 .. ' $2: ' .. $2)

snippet lv3 'log 3 variables'
        print('$1: ' .. $1 .. ' $2: ' .. $2 .. ' $3: ' .. $3)

snippet lv4 'log 4 variables'
        print('$1: ' .. $1 .. ' $2: ' .. $2 .. ' $3: ' .. $3 .. ' $4: ' .. $4)

snippet log 'log a message'
        print('*****' .. '$1')

